@import "tailwindcss";


html, body, #root, section.relative {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('./soucoupe-curseur.png') 16 16, auto;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1; 
}


.title {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 0.2fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 1 / 2 / 4; }

